$primary: #387EED; // Azul

// Cor secundária
$secondary: #8B99AC; // Laranja

// Cor complementar
$primary-light: #67A7F3; // Azul mais claro
$light: #F6F8F9; 

// Cores neutras
$neutral-lightest: #F6F8F9; // Cinza claro
$neutral-light: #DAE0E7; // Cinza médio claro
$neutral-medium: #8B99AC; // Cinza médio
$neutral-dark: #363F4F; // Cinza escuro
$neutral-darkest: #14161A; // Cinza mais escuro