.banner {
    position: relative;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 102, 102) !important;
  }
  
  .banner::before {
 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    mix-blend-mode: overlay;
  }
  
