@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;


.header-container{
    width: 100%;

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: color.$primary;

    .header-logo{
        color: color.$light;
        font-weight: 900;
    }

    .header-items{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        >li>a{
            text-decoration: none;
            color: color.$light;
        }
    }

}


