@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap'); 

html, body {
  scroll-behavior: smooth !important;
}

.rs-dropdown-item {
  white-space: wrap !important;
  margin: 0 auto;
  text-align: center;
}

.rs-navbar {
  background-color: #111827 !important;
  color: white;
}

.rs-navbar-brand {
  padding: 10px 20px;
}

@media (min-width: 576px) {
  .rs-nav {
    right: 0;
    position: absolute;
  }
}
@media (min-width: 1280px) {
  .rs-nav {
    right: 16;
    position: absolute;
  }
}

